@media screen and (max-width : 430px) {



  
  /* 내려오는 순서대로 정렬 */

  .head {

    height: 100px;

  }

  .wrap {

    width: 430px;
    height: 200vh;

    display: flex;
    flex-direction: column;

  }

  /* past 포함전체 부분 */
  .main {


    display: flex;
    height: 822px;

    flex-direction: column;

    /* past 텍스트들 가운데에 먼저 놓고 마진으로 위치 조절 */
    justify-content: center;
    align-items: center;

  }

  /* 정렬 위해 flex로 자식 */
  .main>div:nth-child(2) {

    display: flex;


  }
}

  /* expert 탭 높이  */



  /* expert 탭 */
  .expert {

    display: flex;
    flex-direction: column;


    /* 박스 안 색상 모두 채우기 */
    width: 100%;
    height: 100%;

    /* 폰트 가운데로 */

    justify-content: center;
    text-align: center;


    /* 시그니쳐 색 적용 */
    background-color: var(--main-blue);
    color: var(--main-white);

  }

  /* 풀스택 문구 폰트 작업 */
  .expert>div>div:nth-child(1) {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;

  }

  /* 화살표 */
  .expert>div:nth-child(2) {

    /* 퍼온거 */
    /* position: absolute;
    left: 0; 
    top: 0; 
    content: '';
    width: 50px; 
    height: 50px;
    border-top: 5px solid #000;
    border-right: 5px solid #000; 
    transform: rotate(225deg); */

    /* border: ; */

    justify-content: right;
    margin-right: 18px;

  }


  .edu {

    display: none !important;

  }


